.ContainerForm {
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
  }
  .ContainerAll {
    max-width: 5000px;
    margin: 0 auto;
    padding: 20px;
    background-image: url("https://i.ibb.co/QJ2rr34/Default-handmade-deficient-draw-of-dogs-annotations-and-script-0-acced694-b0f0-4033-bb9d-15925d8fd32.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain/* Ajusta el tamaño del fondo para cubrir completamente el contenedor sin distorsionarse */
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 3px;
  }
  
  input,
  button {
    margin-bottom: 0px;
    padding: 0px;
    font-size: 1em;
  }
  
  .separator {
    margin: 0px 0;
    border: 0;
    border-top: 1px solid #122da1;
  }
  
  .submitBtn,
  .registerBtn {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .submitBtn:hover,
  .registerBtn:hover {
    background-color: #45a049;
  }