.bloque {
    text-align: left;
    width: 20%;
    min-height: 100vh;
    min-width: 70vh;
    align-items: center;
    justify-content: center;
}


.bloqueContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}


.texto {
  font-size: 200%;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  position: absolute;
  left:350px;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  white-space: nowrap; 

}
.imagenperro {
width: 50%;
 
  display: block; 
  
}
.contenedorImagen {
  width:50%;
  height:50%;
  margin-top: 33%;
  display: block; 
  margin-left: 4.10%
  
}

.boton-hueso {
    padding: 10px 20px;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color: #FFF;
    background-color: #FF3366;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: -3000%;
    
    
}

.boton-hueso:hover {
  color: yellow;

}




.landing {
    background-color: rgba(255, 165, 0, 0.7);
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    text-align: center; /* Centro el contenido horizontalmente */
    width: 40%;
    min-width: 80vh;
    align-items: center;
    margin: auto;
    justify-content: center;
    height: fit-content;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.7), 0px 0px 30px 10px rgba(255, 255, 255, 0.5);
    ;
    margin-top: 10%;
}


.contenedorImagen {
  display:inline-block;
  flex-direction: column;
  margin-left: 0;
  margin-right: 10px;
  margin-top: auto;
  width:max-content;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.imagenperro{
 
  width: 100%;
  height: 80%;
}
.huella {
  position: inherit;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  max-height: 80%;
  margin-bottom: 0;
}
.titulodepagina {
  font-family: 'Comic Sans MS';
  margin-top: 0;
  font-size: 2.3em; /* Puedes ajustar el tamaño según tus preferencias */
  color: black; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 1); /* Reborde blanco */
  margin-bottom: 0.2%;
  justify-content: center;
  text-align: center;
}
.subtitulo {
  font-family: 'Comic Sans MS', cursive;
  font-size: 1.2em; /* Puedes ajustar el tamaño según tus preferencias */
  color: rgb(255, 123, 0); /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 1); /* Reborde blanco */
  margin-bottom: 10%;
  
}